/*Make It Real*/

* {
	box-sizing: border-box;
}

body {
	background-color: #7f8c8d;
}

h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1.1rem;
}

h2 {
	margin-top: 30px;
	font-size: .9rem;
	padding-left: 7px;
	padding-bottom: 5px;
	border-bottom: 1px solid #bdc3c7;
}

a {
	color: #d3543c;
	text-decoration: none;
}

.main-content-text {
	font-size: .75rem;
	line-height: 1.1rem;
	padding-left: 20px;
}

.main-container {
	width: 680px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;

}

/*HEADER BOX*/

.header-container {
	width: 500px;
}

.header-box {
	background-color: #2ecc71;
	border-bottom: 5px solid #27ae60;
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: bold;
	height: 200px;
}

.header-box-text {
	position: relative;
	top: 155px;
	left: 10px;
}

/*NAV BAR*/

.top-navigation-bar {
	text-align: right;
	background: #34495e;
	border-bottom: 5px solid #2c3e50;
	color: #ffffff;
	font-size: .8rem;

}
.top-navigation-bar ul{
    margin: 0;
    padding-left: 0;
}

.top-navigation-bar li{
	display: inline-block;
	padding: 10px 18px;
	
}

/*CONTENT SECTION*/

/*Side Menu*/

.side-menu {
	float: right;
	background: #ecf0f1;
	width: 170px;
	border-bottom: 3px solid #444444;
	padding: 5px;
	padding-bottom: 10px;
}

.side-menu h3 {
	font-size: .8rem;
	font-weight: bold;
	margin: 10px;
}

.side-menu ul{
    margin: 0;
    padding-left: 20px;
}

.side-menu li {
	list-style: none;
	font-size: .75rem;
	color:	#6e6666;
	padding: 2px;

}

/*Main Content*/

.content-container {
	background: #ecf0f1;
	width: 500px;
	padding: 20px;
}

.code-box {
	font-size: .9rem;
	background-color: #bdc3c7;
	padding: 20px 20px 20px 40px;
}

.table {
	font-size: .75rem;
	border: 1px solid #999999;
}

.table thead{
	background-color: #bdc3c7;
	text-align: left;
}

.table th, td {
	padding: 5px 10px 5px 10px;
	border: 1px solid #999999;
}

.table button {
	background: #3498db;
	color: #ffffff;
	border: 1px solid #3498db;
	padding: 5px 20px;
}
.content-image {
	display: block;
	margin: auto;

}
.ol-content {
	font-size: .75rem;
	line-height: 1.1rem;
	padding: 0px 0px 0px 20px;
}

.ol-content li {
	padding-bottom: 5px;
}

.user-info-text {
	font-size: .75rem;
	color: #99999b;
}

/*COMMENT SECTION - FORM*/

.comments-section {
	margin-top: 40px;
}

.form-title {
	color: #99999b;
	width: 100%;
	background-color: #99999b;
	line-height: .1rem;
	margin:	10px 0 20px;
}

.form-title span {
	background: #ecf0f1;
	padding: 0 10px;
	margin-left: 25px;
	font-size: .9rem;
}

.form-section {
	padding-bottom: 20px;
}

.form-row {
	padding: 3px 0 3px 0;
	font-size: .75rem;
	font-weight: bold;
}

.form-row input {
	border: 1px solid #99999b;
	width: 330px;
	line-height: 25px;
}

.label-cell {
	text-align: right;
	width: 25%;
	display: inline-block;
}

.form-row textarea {
	width: 100%;
}

.submit-button {
	width: 100%;
	background-color: #c0392b;
	border: none;
	color: #ffffff;
	font-size: .75rem;
	padding: 10px 0;
	margin:	20px 0;
}

/*COMMENT SECTION - COMMENTS*/

.comment-container img {
	float: left;
	padding: 0 10px 10px 0;
}

.user-info span:first-of-type {
	font-weight: bold;
	font-size: .9rem;
}
.user-info span:last-of-type {
	display: block;
	color: #99999b;
	font-style: italic;
	font-size: .75rem;
}

.comment-content {
	display: block;
	clear: both;
	font-size: .75rem;
}

.child-comment-container {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-left: 1px solid #99999b;
	padding-left: 10px;
}
